@charset "UTF-8";

body {
    background-color: rgb(164, 233, 210);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(79, 112, 101);
}

h2 {
    color: rgb(37, 73, 61);
}

h1#principal {
    background-color: rgb(38, 49, 45);
    color: rgb(92, 165, 141);
    text-align: center;
}

.bsc {
color: green;
}
.inter {
    color: rgba(163, 163, 82, 0.699);
}
.avancd {
    color: red;
}

.desk {
    background-color: antiquewhite;
    color: coral;
}